# 1. Introduction
## Python identifier
Identifier is a name given to entities like class, functions, variables etc. in Python. It helps differentiating one entity from another.

Rules for writing identifiers in Python:
- Identifiers can be a combination of letters in lowercase (**a** to **z**) or uppercase (**A** to **Z**) or digits (**0** to **9**) or an underscore (**_**).
- An identifier can not start with a digit.
- Keywords can not be used as identifiers.
- We can not use special symbols like **!**, **@**, **#**, **$**, **%** etc. in our identifier.

In [2]:
# Variable name can not start with digit in front, 1variable will cause syntax error
variable1 = 'Identifier can not start with number'

In [4]:
# Using keywords as variable name will cause error
class_ = 1

In [6]:
# Using special symbols as variable name will cause error
x_gmail = 'm.s@gmail.com'

## Basic Object Types

In [7]:
none = None # Singleton null object
boolean = bool(True)
integer = 1
Long = 3.14

# float
Float = 3.14
Float_inf = float('inf')
Float_nan = float('nan')

# Complex object type, note the usage of letter j
Complex = 2 + 8j

# String can be enclosed in single or double quote
string = 'this is a string'
me_also_string = "also me"

List = [1, True, 'ML'] # Values can be changed
Tuple = (1, True, 'ML') # Values can not be changed
Set = set([1, 2, 2, 2, 3, 4, 5, 5]) # Duplicates will not be stored
# Use a dictionary when you have a set of unique keys that map to values
Dictionary = {'a':'A', 2:'AA', True:1, False:0}

# Let's print the object type and the value
print(type(none), none)
print(type(boolean), boolean)
print(type(integer), integer)
print(type(Long), Long)

print(type(Float), Float)
print(type(Float_inf), Float_inf)
print(type(Float_nan), Float_nan)

print(type(Complex), Complex)

print(type(string), string)
print(type(me_also_string), me_also_string)

print(type(Tuple), Tuple)
print(type(List), List)
print(type(Set), Set)
print(type(Dictionary), Dictionary)

<class 'NoneType'> None
<class 'bool'> True
<class 'int'> 1
<class 'float'> 3.14
<class 'float'> 3.14
<class 'float'> inf
<class 'float'> nan
<class 'complex'> (2+8j)
<class 'str'> this is a string
<class 'str'> also me
<class 'tuple'> (1, True, 'ML')
<class 'list'> [1, True, 'ML']
<class 'set'> {1, 2, 3, 4, 5}
<class 'dict'> {'a': 'A', 2: 'AA', True: 1, False: 0}

## Comments in Python
- All characters after the **#** and up to the physical line end are part of the comment and the Python interpreter ignores them.
- Comments spanning more than one line are achieved by inserting a multi-line string between the **"""** delimiters.

In [8]:
# This is a comment in Python
print('Hello Python World') # This is also a comment in Python

'''This is an example of a multi line comment that spans multiple lines.
Everything that is in between is considered as comments.'''

Hello Python World

'This is an example of a multi line comment that spans multiple lines.\nEverything that is in between is considered as comments.'

## Several statements in a one line

In [10]:
import sys; x = 'foo'; print(x)

foo

## Code blocks

In [11]:
# Correct indentation
print ('Programming is an important skill for Data Science')
print ('Statistics is an imporant skill for Data Science')
print ('Business domain knowledge is a important skill for Data Science')

# Correct indentation, note that if statement here is an example of suites
x = 1
if x == 1:
    print ('x has a value of 1')
else:
    print ('x does NOT have a value of 1')

Programming is an important skill for Data Science
Statistics is an imporant skill for Data Science
Business domain knowledge is a important skill for Data Science
x has a value of 1

In [15]:
# Incorrect indentation, program will generate a syntax error
# due to the space character inserted at the beginning of second line
# Correct indentation
print ('Programming is an important skill for Data Science')
print ('Statistics is an important skill for Data Science') # Removed the extra space at the begining of this line
print ('Business domain knowledge is a important skill for Data Science')

Programming is an important skill for Data Science
Statistics is an important skill for Data Science
Business domain knowledge is a important skill for Data Science

In [16]:
# Incorrect indentation, program will generate a syntax error
# due to the wrong indentation in the else statement
# Correct indentation
x = 1
if x == 1:
    print ('x has a value of 1')
else:
    print ('x does NOT have a value of 1') # Added indentation (4 spaces) here

x has a value of 1

## Multi-line statements

In [17]:
# Example of implicit line continuation
x = ('1' + '2' +
    '3' + '4')

# Example of explicit line continuation
y = '1' + '2' + \
    '11' + '12'

weekdays = ['Monday', 'Tuesday', 'Wednesday',
            'Thursday', 'Friday']

weekend = {'Saturday',
           'Sunday'}

print ('x has a value of', x)
print ('y has a value of', y)
print (weekdays)
print (weekend)

x has a value of 1234
y has a value of 121112
['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
{'Sunday', 'Saturday'}

# 2. Basic operators
## Arithmetic operators
Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication etc.

In [18]:
# Variable x holds 10 and variable y holds 5
x = 10
y = 5

# Addition
print ('Addition, x(10) + y(5) = ', x + y)

# Subtraction
print ('Subtraction, x(10) - y(5) = ', x - y)

# Multiplication
print ('Multiplication, x(10) * y(5) = ', x * y)

# Division
print ('Division, x(10) / y(5) = ', x / y)

# Modulus
print ('Modulus, x(10) % y(5) = ', x % y)

# Exponent
print ('Exponent, x(10)**y(5) = ', x**y)

# Integer division rounded towards minus infinity
print ('Floor Division, x(10)//y(5) = ', x//y)

Addition, x(10) + y(5) =  15
Subtraction, x(10) - y(5) =  5
Multiplication, x(10) * y(5) =  50
Division, x(10) / y(5) =  2.0
Modulus, x(10) % y(5) =  0
Exponent, x(10)**y(5) =  100000
Floor Division, x(10)//y(5) =  2

## Comparison operators
Comparison operators are used to compare values. It either returns **True** or **False** according to the condition.

In [20]:
# Variable x holds 10 and variable b holds 5
# Equal check operation
print ('Equal check, x(10) == y(5) ', x == y)

# Not Equal check operation
print ('Not Equal check, x(10) != y(5) ', x != y)

# Less than check operation
print ('Less than check, x(10) < y(5) ', x < y)

# Greater check operation
print ('Greater than check, x(10) > y(5) ', x > y)

# Less than or equal check operation
print ('Less than or equal to check, x(10) <= y(5) ', x <= y)

# Greater than or equal to check operation
print ('Greater than or equal to check, x(10) >= y(5) ', x >= y)

Equal check, x(10) == y(5)  False
Not Equal check, x(10) != y(5)  True
Less than check, x(10) < y(5)  False
Greater than check, x(10) > y(5)  True
Less than or equal to check, x(10) <= y(5)  False
Greater than or equal to check, x(10) >= y(5)  True

## Assignment operations

In [21]:
# Variable x holds 10 and variable y holds 5
x = 5
y = 10

x += y
print ('Value of a post x += y is ', x)

x *= y
print ('Value of a post x *= y is ', x)

x /= y
print ('Value of a post x /= y is ', x)

x %= y
print ('Value of a post x %= y is ', x)

x **= y
print ('Value of x post x **= y is ', x)

x //= y
print ('Value of a post x //= y is ', x)

Value of a post x += y is  15
Value of a post x *= y is  150
Value of a post x /= y is  15.0
Value of a post x %= y is  5.0
Value of x post x **= y is  9765625.0
Value of a post x //= y is  976562.0

## Bitwise operations
Bitwise operators act on operands as if they were string of binary digits. As the name suggest, it operates bit by bit.

In [22]:
# Basic six bitwise operations
# Let x = 10 (0000 1010 in binary) and y = 4 (0000 0100 in binary)
x = 10
y = 4

print (x >> y)  # Right Shift
print (x << y)  # Left Shift
print (x & y)   # Bitwise AND
print (x | y)   # Bitwise OR
print (x ^ y) # Bitwise XOR
print (~x)    # Bitwise NOT

0
160
0
14
14
-11

## Logical operators
Logical operators are the **and**, **or**, **not** operators.

In [23]:
var1 = True
var2 = False
print('var1 and var2 is', var1 and var2)
print('var1 or var2 is', var1 or var2)
print('not var1 is', not var1)

var1 and var2 is False
var1 or var2 is True
not var1 is False

## Membership operators
**in** and **not in** are the membership operators in Python. They are used to test whether a value or variable is found in a sequence (string, list, tuple, set and dictionary). In a dictionary we can only test for presence of key, not the value.

In [24]:
var1 = 'Hello world'    # String
var2 = {1:'a', 2:'b'}    # Dictionary
print('H' in var1)
print('hello' not in var1)
print(1 in var2)
print('a' in var2)

True
True
True
False

## Identity operatros
**is** and **is not** are the identity operators in Python. They are used to check whether two values (or variables) are located on the same part of the memory. Two variables that are equal do not imply that they are identical.

In [25]:
var1 = 5
var1 = 5
var2 = 'Hello'
var2 = 'Hello'
var3 = [1, 2, 3]
var3 = [1, 2, 3]
print(var1 is not var1)
print(var2 is var2)
print(var3 is var3)

False
True
True

# 3. Control structures
A control structure is a basic decision-making process in computing. It is a block of programming that analyzes variables and chooses a direction in which to go based on given parameters.

In [26]:
var = -1
if var < 0:
    print (var)
    print ('the value of var is negative')

# If the suite of an if clause consists only of a single line, it may go on the same line as the header statement
if ( var  == -1 ) : print ('the value of var is negative')

-1
the value of var is negative
the value of var is negative

In [27]:
var = 1

if var < 0:
    print ('the value of var is negative')
    print (var)
else:
    print ('the value of var is positive')
    print (var)

the value of var is positive
1

In [28]:
score = 95

if score >= 99:
    print('A')
elif score >= 75:
    print('B')
elif score >= 60:
    print('C')
elif score >= 35:
    print('D')
else:
    print('F')

B

In [29]:
# First Example
print ('First Example')
for item in [1, 2, 3, 4, 5]:
    print ('item :', item)

# Second Example
print ('\nSecond Example')
letters = ['A', 'B', 'C']
for letter in letters:
    print ('First loop letter :', letter)

# Third Example - iterating by sequency index
print ('\nThird Example')
for index in range(len(letters)):
    print ('First loop letter :', letters[index])

# Fourth Example - using else statement
print ('\nFourth Example')
for item in [1, 2, 3, 4, 5]:
    print ('item :', item)
else:
    print ('looping over item complete!')

First Example
item : 1
item : 2
item : 3
item : 4
item : 5

Second Example
First loop letter : A
First loop letter : B
First loop letter : C

Third Example
First loop letter : A
First loop letter : B
First loop letter : C

Fourth Example
item : 1
item : 2
item : 3
item : 4
item : 5
looping over item complete!

In [30]:
count = 0
while (count < 5):
    print ('The count is:', count)
    count = count + 1

The count is: 0
The count is: 1
The count is: 2
The count is: 3
The count is: 4

# 4. Modules
A module is a logically organized multiple independent but related set of codes or functions or classes. The key principle behind module creating is it's easier to understand, use and efficient maintainability.

When you import a module, it's loaded only once, regardless of the number of times it is imported. You can also import specific elements (functions, classes etc) from your module into the current namespace.

In [31]:
# Import all functions from a module
import os             # Method 1
from os import *      # Method 2

In [32]:
# Import a function named abc from the module os
from os import abc

**dir()** is a built-in function of module **os**, running this will return a sorted list of strings containing the names of all the modules, variables and functions that are defined in a module.

In [33]:
import os

content = dir(os)
print (content)

['CLD_CONTINUED', 'CLD_DUMPED', 'CLD_EXITED', 'CLD_KILLED', 'CLD_STOPPED', 'CLD_TRAPPED', 'DirEntry', 'EFD_CLOEXEC', 'EFD_NONBLOCK', 'EFD_SEMAPHORE', 'EX_CANTCREAT', 'EX_CONFIG', 'EX_DATAERR', 'EX_IOERR', 'EX_NOHOST', 'EX_NOINPUT', 'EX_NOPERM', 'EX_NOUSER', 'EX_OK', 'EX_OSERR', 'EX_OSFILE', 'EX_PROTOCOL', 'EX_SOFTWARE', 'EX_TEMPFAIL', 'EX_UNAVAILABLE', 'EX_USAGE', 'F_LOCK', 'F_OK', 'F_TEST', 'F_TLOCK', 'F_ULOCK', 'GRND_NONBLOCK', 'GRND_RANDOM', 'GenericAlias', 'MFD_ALLOW_SEALING', 'MFD_CLOEXEC', 'MFD_HUGETLB', 'MFD_HUGE_16GB', 'MFD_HUGE_16MB', 'MFD_HUGE_1GB', 'MFD_HUGE_1MB', 'MFD_HUGE_256MB', 'MFD_HUGE_2GB', 'MFD_HUGE_2MB', 'MFD_HUGE_32MB', 'MFD_HUGE_512KB', 'MFD_HUGE_512MB', 'MFD_HUGE_64KB', 'MFD_HUGE_8MB', 'MFD_HUGE_MASK', 'MFD_HUGE_SHIFT', 'Mapping', 'MutableMapping', 'NGROUPS_MAX', 'O_ACCMODE', 'O_APPEND', 'O_ASYNC', 'O_CLOEXEC', 'O_CREAT', 'O_DIRECT', 'O_DIRECTORY', 'O_DSYNC', 'O_EXCL', 'O_FSYNC', 'O_LARGEFILE', 'O_NDELAY', 'O_NOATIME', 'O_NOCTTY', 'O_NOFOLLOW', 'O_NONBLOCK', 'O_PATH', 'O_RDONLY', 'O_RDWR', 'O_RSYNC', 'O_SYNC', 'O_TMPFILE', 'O_TRUNC', 'O_WRONLY', 'POSIX_FADV_DONTNEED', 'POSIX_FADV_NOREUSE', 'POSIX_FADV_NORMAL', 'POSIX_FADV_RANDOM', 'POSIX_FADV_SEQUENTIAL', 'POSIX_FADV_WILLNEED', 'POSIX_SPAWN_CLOSE', 'POSIX_SPAWN_DUP2', 'POSIX_SPAWN_OPEN', 'PRIO_PGRP', 'PRIO_PROCESS', 'PRIO_USER', 'P_ALL', 'P_NOWAIT', 'P_NOWAITO', 'P_PGID', 'P_PID', 'P_PIDFD', 'P_WAIT', 'PathLike', 'RTLD_DEEPBIND', 'RTLD_GLOBAL', 'RTLD_LAZY', 'RTLD_LOCAL', 'RTLD_NODELETE', 'RTLD_NOLOAD', 'RTLD_NOW', 'RWF_APPEND', 'RWF_DSYNC', 'RWF_HIPRI', 'RWF_NOWAIT', 'RWF_SYNC', 'R_OK', 'SCHED_BATCH', 'SCHED_FIFO', 'SCHED_IDLE', 'SCHED_OTHER', 'SCHED_RESET_ON_FORK', 'SCHED_RR', 'SEEK_CUR', 'SEEK_DATA', 'SEEK_END', 'SEEK_HOLE', 'SEEK_SET', 'SPLICE_F_MORE', 'SPLICE_F_MOVE', 'SPLICE_F_NONBLOCK', 'ST_APPEND', 'ST_MANDLOCK', 'ST_NOATIME', 'ST_NODEV', 'ST_NODIRATIME', 'ST_NOEXEC', 'ST_NOSUID', 'ST_RDONLY', 'ST_RELATIME', 'ST_SYNCHRONOUS', 'ST_WRITE', 'TMP_MAX', 'WCONTINUED', 'WCOREDUMP', 'WEXITED', 'WEXITSTATUS', 'WIFCONTINUED', 'WIFEXITED', 'WIFSIGNALED', 'WIFSTOPPED', 'WNOHANG', 'WNOWAIT', 'WSTOPPED', 'WSTOPSIG', 'WTERMSIG', 'WUNTRACED', 'W_OK', 'XATTR_CREATE', 'XATTR_REPLACE', 'XATTR_SIZE_MAX', 'X_OK', '_Environ', '__all__', '__builtins__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_check_methods', '_execvpe', '_exists', '_exit', '_fspath', '_fwalk', '_get_exports_list', '_spawnvef', '_walk', '_wrap_close', 'abc', 'abort', 'access', 'altsep', 'chdir', 'chmod', 'chown', 'chroot', 'close', 'closerange', 'confstr', 'confstr_names', 'copy_file_range', 'cpu_count', 'ctermid', 'curdir', 'defpath', 'device_encoding', 'devnull', 'dup', 'dup2', 'environ', 'environb', 'error', 'eventfd', 'eventfd_read', 'eventfd_write', 'execl', 'execle', 'execlp', 'execlpe', 'execv', 'execve', 'execvp', 'execvpe', 'extsep', 'fchdir', 'fchmod', 'fchown', 'fdatasync', 'fdopen', 'fork', 'forkpty', 'fpathconf', 'fsdecode', 'fsencode', 'fspath', 'fstat', 'fstatvfs', 'fsync', 'ftruncate', 'fwalk', 'get_blocking', 'get_exec_path', 'get_inheritable', 'get_terminal_size', 'getcwd', 'getcwdb', 'getegid', 'getenv', 'getenvb', 'geteuid', 'getgid', 'getgrouplist', 'getgroups', 'getloadavg', 'getlogin', 'getpgid', 'getpgrp', 'getpid', 'getppid', 'getpriority', 'getrandom', 'getresgid', 'getresuid', 'getsid', 'getuid', 'getxattr', 'initgroups', 'isatty', 'kill', 'killpg', 'lchown', 'linesep', 'link', 'listdir', 'listxattr', 'lockf', 'login_tty', 'lseek', 'lstat', 'major', 'makedev', 'makedirs', 'memfd_create', 'minor', 'mkdir', 'mkfifo', 'mknod', 'name', 'nice', 'open', 'openpty', 'pardir', 'path', 'pathconf', 'pathconf_names', 'pathsep', 'pidfd_open', 'pipe', 'pipe2', 'popen', 'posix_fadvise', 'posix_fallocate', 'posix_spawn', 'posix_spawnp', 'pread', 'preadv', 'putenv', 'pwrite', 'pwritev', 'read', 'readlink', 'readv', 'register_at_fork', 'remove', 'removedirs', 'removexattr', 'rename', 'renames', 'replace', 'rmdir', 'scandir', 'sched_get_priority_max', 'sched_get_priority_min', 'sched_getaffinity', 'sched_getparam', 'sched_getscheduler', 'sched_param', 'sched_rr_get_interval', 'sched_setaffinity', 'sched_setparam', 'sched_setscheduler', 'sched_yield', 'sendfile', 'sep', 'set_blocking', 'set_inheritable', 'setegid', 'seteuid', 'setgid', 'setgroups', 'setpgid', 'setpgrp', 'setpriority', 'setregid', 'setresgid', 'setresuid', 'setreuid', 'setsid', 'setuid', 'setxattr', 'spawnl', 'spawnle', 'spawnlp', 'spawnlpe', 'spawnv', 'spawnve', 'spawnvp', 'spawnvpe', 'splice', 'st', 'stat', 'stat_result', 'statvfs', 'statvfs_result', 'strerror', 'supports_bytes_environ', 'supports_dir_fd', 'supports_effective_ids', 'supports_fd', 'supports_follow_symlinks', 'symlink', 'sync', 'sys', 'sysconf', 'sysconf_names', 'system', 'tcgetpgrp', 'tcsetpgrp', 'terminal_size', 'times', 'times_result', 'truncate', 'ttyname', 'umask', 'uname', 'uname_result', 'unlink', 'unsetenv', 'urandom', 'utime', 'wait', 'wait3', 'wait4', 'waitid', 'waitid_result', 'waitpid', 'waitstatus_to_exitcode', 'walk', 'write', 'writev']

# 5. Lists
The **list** is a most versatile data type available in Python which can be written as a list of comma-separated values (items) between square brackets. Important thing about a list is that items in a list need not be of the same type.

## Accessing lists

In [34]:
list_1 = ['Statistics', 'Programming', 2018, 2019, 2020]
list_2 = ['a', 'b', 1, 2, 3, 4, 5, 6, 7 ]

# Accessing values in lists
print ('list_1[0]:', list_1[0])
print ('list2_[1:5]:', list_2[1:5])

list_1[0]: Statistics
list2_[1:5]: ['b', 1, 2, 3]

## Adding new value to list

In [35]:
# Adding new value to list
print ('list_1 values:', list_1)
list_1.append(2021)
print ('list_1 values post append:', list_1)

list_1 values: ['Statistics', 'Programming', 2018, 2019, 2020]
list_1 values post append: ['Statistics', 'Programming', 2018, 2019, 2020, 2021]

## Deleting list elements

In [36]:
# Deleting list elements
print ('list_1 values:', list_1)
del list_1[2];
print ('After deleting value at index 2 :', list_1)

list_1 values: ['Statistics', 'Programming', 2018, 2019, 2020, 2021]
After deleting value at index 2 : ['Statistics', 'Programming', 2019, 2020, 2021]

# Basic operations on lists

In [37]:
# Basic operations
print ('Length:', len(list_1))
print ('Concatenation:', [1, 2, 3] + [4, 5, 6])
print ('Repetition:', ['Hello'] * 4)
print ('Membership:', 3 in [1, 2, 3])
print ('Iteration:')
for x in [1, 2, 3]: print (x)

Length: 5
Concatenation: [1, 2, 3, 4, 5, 6]
Repetition: ['Hello', 'Hello', 'Hello', 'Hello']
Membership: True
Iteration:
1
2
3

In [38]:
# Negative sign will count from the right
print ('slicing:', list_1[-2])
# If you don't specify the end explicitly, all elements from the specified start index will be printed
print ('slicing range:', list_1[1:])

slicing: 2020
slicing range: ['Programming', 2019, 2020, 2021]

In [39]:
# Comparing elements of lists
def cmp(a, b):
    return (a > b) - (a < b)

print ('Compare two lists:', cmp([1, 2, 3, 4], [1, 2, 3]))
print ('Max of list:', max([1, 2, 3, 4, 5]))
print ('Min of list:', min([1, 2, 3, 4, 5]))
print ('Count number of 1 in list:', [1, 1, 2, 3, 4, 5].count(1))
list_1.extend(list_2)
print ('Extended:', list_1)

Compare two lists: 1
Max of list: 5
Min of list: 1
Count number of 1 in list: 2
Extended: ['Statistics', 'Programming', 2019, 2020, 2021, 'a', 'b', 1, 2, 3, 4, 5, 6, 7]

In [40]:
print ('Index for Programming:', list_1.index('Programming'))
print (list_1)
print ('pop last item in list:', list_1.pop())
print ('pop the item with index 2:', list_1.pop(2))
list_1.remove('b')
print ('removed b from list:', list_1)
list_1.reverse()
print ('Reverse:', list_1)

Index for Programming: 1
['Statistics', 'Programming', 2019, 2020, 2021, 'a', 'b', 1, 2, 3, 4, 5, 6, 7]
pop last item in list: 7
pop the item with index 2: 2019
removed b from list: ['Statistics', 'Programming', 2020, 2021, 'a', 1, 2, 3, 4, 5, 6]
Reverse: [6, 5, 4, 3, 2, 1, 'a', 2021, 2020, 'Programming', 'Statistics']

In [41]:
list_1 = ['a', 'b', 'c']
list_1.sort()
print ('Sort ascending:', list_1)
list_1.sort(reverse = True)
print ('Sort descending:', list_1)

Sort ascending: ['a', 'b', 'c']
Sort descending: ['c', 'b', 'a']

# 6. Tuples
A **tuple** is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets.

In [42]:
# Creating a tuple

Tuple = ()
print ('Empty Tuple:', Tuple)

Tuple = (1)
print ('Tuple with a single item:', Tuple)

Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print ('Sample Tuple:', Tuple)

Empty Tuple: ()
Tuple with a single item: 1
Sample Tuple: ('a', 'b', 'c', 'd', 1, 2, 3)

In [43]:
# Accessing items in tuple

print ('3rd item of Tuple:', Tuple[2])
print ('First 3 items of Tuple:', Tuple[0:3])

3rd item of Tuple: c
First 3 items of Tuple: ('a', 'b', 'c')

In [45]:
# Deleting tuple

Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)
print ('Sample Tuple:', Tuple)
# Commenting out or removing the below line will resolve the error.
# del Tuple
# The variable "Tuple" no longer exists after the above del statement, causing the NameError
# print (Tuple) # Will throw an error message as the tuple does not exist
print ("The Tuple variable is deleted, attempting to print it will result in a NameError")

Sample Tuple: ('a', 'b', 'c', 'd', 1, 2, 3)
The Tuple variable is deleted, attempting to print it will result in a NameError

In [46]:
# Basic Tuple operations
Tuple = ('a', 'b', 'c', 'd', 1, 2, 3)

print ('Length of Tuple:', len(Tuple))

Tuple_Concat = Tuple + (7, 8, 9)
print ('Concatinated Tuple:', Tuple_Concat)

print ('Repetition:', (1, 'a', 2, 'b') * 3)
print ('Membership check:', 3 in (1, 2, 3))

# Iteration
for x in (1, 2, 3): print (x)

print ('Negative sign will retrieve item from right:', Tuple_Concat[-2])
print ('Sliced Tuple [2:]', Tuple_Concat[2:])

# Find max
print ('Max of the Tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):', max((1, 2, 3, 4, 5, 6, 7, 8, 9, 10)))
print ('Min of the Tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10):', min((1, 2, 3, 4, 5, 6, 7, 8, 9, 10)))
print ('List [1, 2, 3, 4] converted to tuple:', type(tuple([1, 2, 3, 4])))

Length of Tuple: 7
Concatinated Tuple: ('a', 'b', 'c', 'd', 1, 2, 3, 7, 8, 9)
Repetition: (1, 'a', 2, 'b', 1, 'a', 2, 'b', 1, 'a', 2, 'b')
Membership check: True
1
2
3
Negative sign will retrieve item from right: 8
Sliced Tuple [2:] ('c', 'd', 1, 2, 3, 7, 8, 9)
Max of the Tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10): 10
Min of the Tuple (1, 2, 3, 4, 5, 6, 7, 8, 9, 10): 1
List [1, 2, 3, 4] converted to tuple: <class 'tuple'>

# 7. Sets
A **set** contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

## Creating sets

In [47]:
# Creating an empty set
languages = set()
print (languages)

languages = {'Python', 'R', 'SAS', 'Julia'}
print (languages)

# Set of mixed datatypes
mixed_set = {'Python', (2.7, 3.4)}
print (mixed_set)

set()
{'R', 'SAS', 'Python', 'Julia'}
{(2.7, 3.4), 'Python'}

## Accessing set elements

In [48]:
print (list(languages)[0])
print (list(languages)[0:3])

R
['R', 'SAS', 'Python']

## Changing a set in Python
Although **sets** are mutable, indexing on them will have no meaning due to the fact that they are unordered. So sets do not support accessing or changing an item/element using indexing or slicing. The **add()** method can be used to add single element and **update()** method for adding multiple elements. Note that the **update()** method can take the argument in the format of tuples, lists, strings or other sets. However, in all cases the duplicates are ignored.

In [49]:
# Initialize a set
languages = {'Python', 'R'}
print(languages)

# Add an element
languages.add('SAS')
print(languages)

# Ad multiple elements
languages.update(['Julia', 'SPSS'])
print(languages)

# Add list and set
languages.update(['Java', 'C'], {'Machine Learning', 'Data Science', 'AI'})
print(languages)

{'R', 'Python'}
{'R', 'SAS', 'Python'}
{'SPSS', 'Julia', 'SAS', 'R', 'Python'}
{'SPSS', 'Julia', 'SAS', 'Machine Learning', 'AI', 'R', 'C', 'Python', 'Java', 'Data Science'}

## Removing items from set
The **discard()** or **remove()** method can be used to remove a particular item from set. The fundamental difference between **discard()** and **remove()** is that the first do not take any action if the item does not exist in the set, whereas **remove()** will raises an error in such scenario.

In [50]:
# Remove an element
languages.remove('AI')
print(languages)

# Discard an element, although AI has already been removed discard will not throw an error
languages.discard('AI')
print(languages)

# Pop will remove a random item from set
print ('Removed:', (languages.pop()), 'from', languages)

{'SPSS', 'Julia', 'SAS', 'Machine Learning', 'R', 'C', 'Python', 'Java', 'Data Science'}
{'SPSS', 'Julia', 'SAS', 'Machine Learning', 'R', 'C', 'Python', 'Java', 'Data Science'}
Removed: SPSS from {'Julia', 'SAS', 'Machine Learning', 'R', 'C', 'Python', 'Java', 'Data Science'}

# 8. Dictionary
Each **key** is separated from its value by a colon ( **:** ), the items are separated by commas, and the whole thing is enclosed in curly braces. An empty dictionary without any items is written with just two curly braces, like this: **{ }**.

Keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples.

## Creating a dictionary

In [51]:
# Creating a dictionary
dict = {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}

print ('Sample dictionary:', dict)

Sample dictionary: {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}

## Accessing items from dictionary

In [52]:
# Accessing items from dictionary

print ('Value of key Name, from sample dictionary:', dict['Name'])

Value of key Name, from sample dictionary: Elizabeth

## Deleting a dictionary

In [53]:
# Deleting a dictionary
dict = {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
print ('Sample dictionary:', dict)
del dict['Name'] # Delete specific item
print ('Sample dictionary post deletion of item Name:', dict)

dict = {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
dict.clear() # Clear all the contents of dictionary
print ('dict post dict.clear():', dict)

dict = {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
del dict # Delete the dictionary

Sample dictionary: {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
Sample dictionary post deletion of item Name: {'Age': 20, 'Class': 'Three'}
dict post dict.clear(): {}

## Updating a dictionary

In [54]:
# Updating a dictionary

dict = {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
print ('Sample dictionary:', dict)
dict['Age'] = 22

print ('Dictionary post age value update:', dict)

Sample dictionary: {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
Dictionary post age value update: {'Name': 'Elizabeth', 'Age': 22, 'Class': 'Three'}

## Basic operations on dictionary

In [55]:
# Basic operations

dict = {'Name': 'Elizabeth', 'Age': 20, 'Class': 'Three'}
print ("Length of dict: ", len(dict))

dict1 = {'Name': 'Elizabeth', 'Age': 20};
dict2 = {'Name': 'James', 'Age': 22};
dict3 = {'Name': 'James', 'Age': 19};
dict4 = {'Name': 'Elizabeth', 'Age': 20};

# String representation of dictionary
dict = {'Name': 'Elizabeth', 'Age': 20}
print ('Equivalent String:', str(dict))

# Copy the dict
dict1 = dict.copy()
print (dict1)

# Create new dictionary with keys from tuple and values to set value
seq = ('name', 'age', 'sex')

dict = dict.fromkeys(seq)
print ('New Dictionary:', str(dict))

dict = dict.fromkeys(seq, 10)
print ('New Dictionary:', str(dict))

# Retrieve value for a given key
dict = {'Name': 'Elizabeth', 'Age': 20};
print ('Value for Age:', dict.get('Age'))

# Since the key Education does not exist, the second argument will be returned
print ('Value for Education:', dict.get('Education', 'First Grade'))

# Check if key in dictionary
print ('Age exists?', 'Age' in dict)
print ('Sex exists?', 'Sex' in dict)

# Return items of dictionary
print ('dict items:', dict.items())

# Return items of keys
print ('dict keys:', dict.keys())

# Return values of dict
print ('Value of dict:',  dict.values())

# If key does not exists, then the arguments will be added to dict and returned
print ('Value for Age:', dict.setdefault('Age', None))
print ('Value for Sex:', dict.setdefault('Sex', None))

# Concatenate dicts
dict = {'Name': 'Elizabeth', 'Age': 20}
dict2 = {'Sex': 'female' }

dict.update(dict2)
print ('dict.update(dict2) = ',  dict)

Length of dict:  3
Equivalent String: {'Name': 'Elizabeth', 'Age': 20}
{'Name': 'Elizabeth', 'Age': 20}
New Dictionary: {'name': None, 'age': None, 'sex': None}
New Dictionary: {'name': 10, 'age': 10, 'sex': 10}
Value for Age: 20
Value for Education: First Grade
Age exists? True
Sex exists? False
dict items: dict_items([('Name', 'Elizabeth'), ('Age', 20)])
dict keys: dict_keys(['Name', 'Age'])
Value of dict: dict_values(['Elizabeth', 20])
Value for Age: 20
Value for Sex: None
dict.update(dict2) =  {'Name': 'Elizabeth', 'Age': 20, 'Sex': 'female'}

# 9. User defined functions
A function is a block of organized, reusable code that is used to perform a single, related action. Functions provide better modularity for your application and a high degree of code reusing.

## Function without arguments

In [56]:
# Simple function
def someFunction():
    print ('Hello World!')

# Call the function
someFunction()

Hello World!

## Function with arguments

In [57]:
# Simple function to add two numbers
def sum_two_numbers(a, b):
    return a + b

# After this line x will hold the value 3!
x = sum_two_numbers(1, 2)
print (x)

3

You can also set default value for argument(s) in a function. In the below example value of **b** is set to **10** as default.

In [58]:
def sum_two_numbers(a, b = 10):
    return a + b

print (sum_two_numbers(10))
print (sum_two_numbers(10, 5))

20
15

## Scope of variables
The scope of a variable determines the portion of the program where you can access a particular identifier.

There are two basic scopes of variables in Python:
- Global variables
- Local variables

In [59]:
# Global variable
a = 10

# Simple function to add two numbers
def sum_two_numbers(b):
    return a + b

# Call the function and print result
print (sum_two_numbers(10))

20

## Default argument
A default argument is an argument that assumes a default value if a value is not provided in the function call for that argument.

In [60]:
# Simple function to add two number with b having default value of 10
def sum_two_numbers(a, b = 10):
    return a + b

# Call the function and print result
print (sum_two_numbers(10))

print (sum_two_numbers(10, 5))

20
15

## Variable length arguments
You may need to process a function for more arguments than you specified while defining the function. These arguments are called ***variable length arguments*** and are not named in the function definition, unlike required and default arguments. The ***args** and ****kwargs** is a common idiom to allow arbitrary number of arguments.

The ***args** will give you all function parameters as a tuple.

In [61]:
# Simple function to loop through arguments and print them
def foo(*args):
    for a in args:
        print (a)

# Call the function
foo(1, 2, 3)

1
2
3

The ****kwargs** will give you all keyword arguments except for those corresponding to a formal parameter as a dictionary.

In [62]:
# Simple function to loop through arguments and print them
def foo(**kwargs):
    for a in kwargs:
        print (a, kwargs[a])

# Call the function
foo(name = 'Elizabeth', age = 20)

name Elizabeth
age 20

# 10. File input / output
**File** is a named location on disk to store related information. When we want to read from or write to a file we need to open it first. When we are done, it needs to be closed, so that resources that are tied with the file are freed.

So in Python, a file operation takes place in the following order:
1. Open a file.
2. Read or write (perform operation).
3. Close the file.

In [63]:
# Read input from console
num = input('Enter a number: ')
print (num)

Enter a number: 15
15

## Writing to a file

In [67]:
# Set working directory
import os
import io
from google.colab import drive
drive.mount('/content/drive')

# Set working directory
os.chdir('/content/drive/My Drive/Colab Notebooks/Lab01/')

# Print the working directory
print ('Current working directory is:', os.getcwd())

# Below code will create a file named vechicles and add the items. \n is a newline character
vechicles = ['scooter\n', 'bike\n', 'car\n']
f = io.open('vechicles.txt', 'w')
f.writelines(vechicles)
f.close()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

FileNotFoundError: [Errno 2] No such file or directory: '/content/drive/My Drive/Colab Notebooks/Lab01/'

## Reading from file

In [66]:
f = io.open('vechicles.txt')
print (f.readlines())
f.close()

FileNotFoundError: [Errno 2] No such file or directory: 'vechicles.txt'

# 11. Exception handling
An exception is an error that happens during the execution of a program that disrupts the normal flow of the program's instructions. When a Python script encounters a situation that it cannot cope with, it raises an exception. Your program should be designed to handle both expected and unexpected errors.

## try and except
A critical operation which can raise exception is placed inside the **try** clause and the code that handles exception is written in the **except** clause.

In [69]:
import sys

try:
    a = 1
    b = 1
    print ('Result of a/b:', a / b)
except (ZeroDivisionError):
    print ('Can not divide by zero!')
except (TypeError):
    print ('Wrong data type, division is allowed on numeric data type only!')
except:
    print ('Unexpected error occurred!', '\n', 'Error Type:', sys.exc_info()[0], '\n', 'Error Msg:', sys.exc_info()[1])

Result of a/b: 1.0

In [70]:
try:
    a = 1
    b = 0
    print (a / b)
except (ZeroDivisionError):
    print ('Can not divide by zero!')
except (TypeError):
    print ('Wrong data type, division is allowed on numeric data type only!')
except:
    print ('Unexpected error occurred!', '\n', 'Error Type:', sys.exc_info()[0], '\n', 'Error Msg:', sys.exc_info()[1])

Can not divide by zero!

In [71]:
try:
    a = 1
    b = 0
    print (A / b)
except (ZeroDivisionError):
    print ('Can not divide by zero!')
except (TypeError):
    print ('Wrong data type, division is allowed on numeric data type only!')
except:
    print ('Unexpected error occurred!', '\n', 'Error Type:', sys.exc_info()[0], '\n', 'Error Msg:', sys.exc_info()[1])

Unexpected error occurred!
 Error Type: <class 'NameError'>
 Error Msg: name 'A' is not defined

## Finally
This is an optional clause which is intended to define clean-up actions that must be executed under all circumstances.

In [73]:
try:
    f = open('vechicles.txt')
    s = f.readline()
    print (s)
    i = int(s.strip())
except IOError as e:
    print ('I/O error({0}): {1}'.format(e.errno, e.strerror))
except ValueError:
    print ('Could not convert data to an integer!')
except:
    print ('Unexpected error occurred', '\n', 'Error Type:', sys.exc_info()[0], '\n', 'Error Msg:', sys.exc_info()[1])
finally:
    # Check if f is defined before closing
    if 'f' in locals() and f:  # Check if f is defined and not None
        f.close()
        print ('File has been closed')

Unexpected error occurred
 Error Type: <class 'TypeError'>
 Error Msg: open() missing required argument 'flags' (pos 2)

# 12. Programming assignments

## App 1.
Calculate the value of the variable: $$y = { {2 \over {\sqrt{|x|-4}}} - {6 \over {x^2-5x}} },$$ where \\(x_1=8.167\\) and \\(x_2=-8.167\\).

In [74]:
# prompt: Calculate the value of the variable:
# y=2|x|−4−−−−−−√−6x2−5x,
# where x1=8.167 and x2=−8.167.

import math

def calculate_y(x):
  try:
    y = (2 / math.sqrt(abs(x) - 4)) - (6 / (x**2 - 5*x))
    return y
  except ZeroDivisionError:
    return "Division by zero error"
  except ValueError:
    return "Square root of negative number error"

x1 = 8.167
x2 = -8.167

y1 = calculate_y(x1)
y2 = calculate_y(x2)

print(f"For x1 = {x1}, y = {y1}")
print(f"For x2 = {x2}, y = {y2}")

For x1 = 8.167, y = 0.7477820024598913
For x2 = -8.167, y = 0.9239608626169877

## App 2.
Write a program that takes three numbers from the user (***a***, ***b***, ***c***) and then displays them on the screen in ascending order. Use an **if** statement.

In [75]:
# prompt: Write a program that takes three numbers from the user (a, b, c) and then displays them on the screen in ascending order. Use an if statement.

a = int(input("Enter the first number: "))
b = int(input("Enter the second number: "))
c = int(input("Enter the third number: "))

if a <= b <= c:
  print(a, b, c)
elif a <= c <= b:
  print(a, c, b)
elif b <= a <= c:
  print(b, a, c)
elif b <= c <= a:
  print(b, c, a)
elif c <= a <= b:
  print(c, a, b)
else:
  print(c, b, a)

Enter the first number: 5
Enter the second number: 5
Enter the third number: 5
5 5 5

## App 3.
Write a program that calculates the surface area of the figure selected when the program starts: **1 - rectangle**, **2 - circle**, **3 - triangle**. After making the selection, the user should enter the dimensions of the figure needed for the calculation.

In [76]:
# prompt: Write a program that calculates the surface area of the figure selected when the program starts: 1 - rectangle, 2 - circle, 3 - triangle. After making the selection, the user should enter the dimensions of the figure needed for the calculation.

import math

def calculate_rectangle_area():
  length = float(input("Enter the length of the rectangle: "))
  width = float(input("Enter the width of the rectangle: "))
  area = length * width
  print("The area of the rectangle is:", area)

def calculate_circle_area():
  radius = float(input("Enter the radius of the circle: "))
  area = math.pi * radius**2
  print("The area of the circle is:", area)

def calculate_triangle_area():
  base = float(input("Enter the base of the triangle: "))
  height = float(input("Enter the height of the triangle: "))
  area = 0.5 * base * height
  print("The area of the triangle is:", area)


print("Select a figure to calculate its area:")
print("1. Rectangle")
print("2. Circle")
print("3. Triangle")

choice = input("Enter your choice (1-3): ")

if choice == '1':
  calculate_rectangle_area()
elif choice == '2':
  calculate_circle_area()
elif choice == '3':
  calculate_triangle_area()
else:
  print("Invalid choice. Please enter a number between 1 and 3.")

Select a figure to calculate its area:
1. Rectangle
2. Circle
3. Triangle
Enter your choice (1-3): 2
Enter the radius of the circle: 5
The area of the circle is: 78.53981633974483

## App 4.
Write a program that solves the square equation of the form: \\(ax^2+bx+c\\), where coefficients ***a***, ***b*** and ***c*** are entered by the user with the keyboard. Do not use the **solvers** module.

In [78]:
# prompt: Write a program that solves the square equation of the form: ax2+bx+c, where coefficients a, b and c are entered by the user with the keyboard. Do not use the solvers module.

import math

def solve_quadratic_equation(a, b, c):
  """Solves a quadratic equation of the form ax^2 + bx + c = 0.

  Args:
    a: The coefficient of x^2.
    b: The coefficient of x.
    c: The constant term.

  Returns:
    A tuple containing the two solutions of the equation, or None if there are no
    real solutions.
  """
  delta = b**2 - 4*a*c

  if delta > 0:
    x1 = (-b + math.sqrt(delta)) / (2*a)
    x2 = (-b - math.sqrt(delta)) / (2*a)
    return x1, x2
  elif delta == 0:
    x = -b / (2*a)
    return x, x
  else:
    return None


a = float(input("Enter the coefficient a: "))
b = float(input("Enter the coefficient b: "))
c = float(input("Enter the coefficient c: "))

solutions = solve_quadratic_equation(a, b, c)

if solutions:
  if len(solutions) == 2:
    print("The solutions are:", solutions[0], "and", solutions[1])
  else:
    print("The solution is:", solutions[0])
else:
  print("There are no real solutions.")

Enter the coefficient a: 5
Enter the coefficient b: 4
Enter the coefficient c: 2
There are no real solutions.

## App 5.
Write a program that displays squares of consecutive numbers from **1** to **10** in a **for** loop and in the **while** loop displays the cubes of even numbers from **1** to **100**.

In [77]:
# prompt: Write a program that displays squares of consecutive numbers from 1 to 10 in a for loop and in the while loop displays the cubes of even numbers from 1 to 100.

# Display squares of consecutive numbers from 1 to 10 in a for loop
for i in range(1, 11):
  print(f"The square of {i} is: {i**2}")

# Display cubes of even numbers from 1 to 100 in a while loop
i = 2
while i <= 100:
  print(f"The cube of {i} is: {i**3}")
  i += 2

The square of 1 is: 1
The square of 2 is: 4
The square of 3 is: 9
The square of 4 is: 16
The square of 5 is: 25
The square of 6 is: 36
The square of 7 is: 49
The square of 8 is: 64
The square of 9 is: 81
The square of 10 is: 100
The cube of 2 is: 8
The cube of 4 is: 64
The cube of 6 is: 216
The cube of 8 is: 512
The cube of 10 is: 1000
The cube of 12 is: 1728
The cube of 14 is: 2744
The cube of 16 is: 4096
The cube of 18 is: 5832
The cube of 20 is: 8000
The cube of 22 is: 10648
The cube of 24 is: 13824
The cube of 26 is: 17576
The cube of 28 is: 21952
The cube of 30 is: 27000
The cube of 32 is: 32768
The cube of 34 is: 39304
The cube of 36 is: 46656
The cube of 38 is: 54872
The cube of 40 is: 64000
The cube of 42 is: 74088
The cube of 44 is: 85184
The cube of 46 is: 97336
The cube of 48 is: 110592
The cube of 50 is: 125000
The cube of 52 is: 140608
The cube of 54 is: 157464
The cube of 56 is: 175616
The cube of 58 is: 195112
The cube of 60 is: 216000
The cube of 62 is: 238328
The cube of 64 is: 262144
The cube of 66 is: 287496
The cube of 68 is: 314432
The cube of 70 is: 343000
The cube of 72 is: 373248
The cube of 74 is: 405224
The cube of 76 is: 438976
The cube of 78 is: 474552
The cube of 80 is: 512000
The cube of 82 is: 551368
The cube of 84 is: 592704
The cube of 86 is: 636056
The cube of 88 is: 681472
The cube of 90 is: 729000
The cube of 92 is: 778688
The cube of 94 is: 830584
The cube of 96 is: 884736
The cube of 98 is: 941192
The cube of 100 is: 1000000